<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    <title>Chat</title>
</head>

<body>
    <h1>Chat App</h1>
    <main id="app">        
       
            <!-- rendering the component -->

            <div class="loginf">
                <login>rendering user form
            </div>
            
        </login>
            <section class="flex">
                <div class="intro2">
                <div class="intro1">
            <h2 class="intro">Enter Your Nickname:</h2>
            <input id="nickname" v-model="nickname" type="text" placeholder="nickname?">
        </div>
    </div>
        <section class="chat">
            <form>  
            <label for="message" class="msgss">Type Something & Send!</label>
            <textarea @focus="catchTextFocus" v-model="message" id="textarea" class="message" autocomplete="off"></textarea>
            <input @click.prevent="dispatchMessage" type= "submit" value="Send" class="send">
        </form>
        </div>
        </section>
</div>
        
    </section>

        <section class="'messages">
            <div class="messageComp">
            <ul id="messages">
                <div class="message_area">
                <!-- render a new message component for every message -->
                <newmsg v-for="message in messages" :message="message"></newmsg>
            </ul>
        </div>
    </div>
        </section>
    </section>    
    </main>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js" type="module" defer></script>
</body>

</html>