.intro1
{
    background: rgb(231, 216, 247);
    color: rgb(70, 4, 135);
    font-size: 1rem;
    font-weight: 700;
    // text-transform: uppercase;
    // border: none;
    // border-radius: 15px;
    padding: 6px 166px;  
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    /* margin-bottom: 20%; */
    text-align: center;
    display: flex;
    // top: 0;
}
      
.intro {
    margin-top: 5px;
    margin-right: 100px;
}

#nickname {
    background: rgb(255, 255, 255);  
    font-family: 'Comfortaa', cursive;
    padding: 5px;
    font-size: 14px;
    font-weight: 600;    
    border: 0.1px solid rgb(70, 4, 135);
    // border-radius: 15px;
    margin: 10px;
    text-align: center;

}

.chat {
    display: grid;
    grid-template-columns: 1fr 0fr;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px;
    background: rgb(231, 216, 247);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    // border-radius: 15px;
    // height: 100vh;
}

#textarea {  
    font-family: 'Comfortaa', cursive;
    background: rgb(255, 255, 255);
    color: rgb(70, 4, 135);
    font-size: 1.2rem;
    font-weight: 600;
    border: 0.1px solid rgb(70, 4, 135);
    // text-transform: uppercase;
    // resize: none;
}

.msgss {
    color: rgb(70, 4, 135);
    font-size: 1.2rem;
    font-weight: 700;
    font-family: 'Comfortaa', cursive;
    // text-transform: uppercase;
}

.send 
{

    //button
    background: rgb(70, 4, 135);
    color: rgb(255, 255, 255);
    font-family: 'Comfortaa', cursive;
    font-size: 1rem;
    // font-weight: 700;
    text-transform: uppercase;
    // border-radius: 15px;
    padding: 10px 20px;
    text-align: center;
    margin: 12px;

    //hover 

    &:hover {
        background: rgb(255, 255, 255);
        color: rgb(70, 4, 135);
        border: 1px solid rgb(70, 4, 135);
        cursor: pointer;
    }

}


.messageComp {
    //message area 
    
        display: grid;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;
        background-color: rgb(231, 216, 247);
        font-family: 'Comfortaa', cursive;
        box-shadow: 0 5px 15px rgba(0,0,0,0.2);
        // text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
        // text-transform: uppercase;
        // border-radius : 26px;
        position: revert;
        //   color: #502900;
        text-align: center;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        width: 100%;
    }
   
    .says {
        font-size: 0.9em
    }

    