* {
    // margin: 0;
    border: none;
    padding: 0;

    box-sizing: border-box;
}

main section { padding: 1em; }

#main-headline { text-align: center; margin-bottom: 0.8em; }

label { display: block; padding-bottom: 0.5em;}

textarea { width: 90%; height: 200px; }

input[type="submit"] { 
    display: block; 
    margin-top: 1em; 
    padding: 8px 12px; 
    // border-radius: 0.5em; 
}

.chat-messages {
    float: left;
    background-color: rgb(70, 4, 135);
    padding: 15px;
    margin: 10px;
    width: 70%;
    text-align: left;
    font-family: 'Comfortaa', cursive;
    font-size: 15px;
    font-weight: 500;
    color:  rgb(255, 255, 255);
    // text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    overflow-wrap: break-word;
    word-wrap: break-word;
    border-radius: 40px 40px 40px 0px;
    hyphens: auto;


}

.other-messages {
    float: right;
    clear: both;
    background-color: rgb(70, 4, 135);
    padding: 15px;
    margin: 10px;
    width: 70%;
    text-align: right;
    font-family: 'Comfortaa', cursive;
    font-size: 15px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    // text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    overflow-wrap: break-word;
    word-wrap: break-word;
    border-radius: 40px 40px 0px 40px;
    hyphens: auto;
    
}

body {
    background-color: rgb(189, 136, 242);
    background-image: linear-gradient(rgb(240, 222, 247) 2px, transparent 5px);
    background-size: 20px 50px;  

    // background: #62475d;
    // color: #fff;
    font-family: 'Comfortaa', cursive;
    color: rgb(240, 222, 247);
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
}

