.chatscrn {
 display: flex;
 flex-direction: column;
    top: 0;
    left: 0;
   

}

.intro1
{
    background: #500038;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 15px;
    padding: 6px 166px;
    /* margin-bottom: 20%; */
    text-align: center;
    display: flex;
    top: 0;
}
   
    



        


.intro {
    margin-right: 10px;
}

#nickname {
    background: #fff;
    color: #000;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 15px;
    margin: 10px;
    text-align: center;

}

.flex {
    display: flex;
    flex-direction: column;
    
}

.chat {
    display: grid;
    grid-template-columns: 1fr 0fr;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px;
    background: #500038;
    border-radius: 15px;
    // height: 100vh;
}

.msgss {

    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;

}

.send 
{

    //button
    background: #ffffff;
    color: #500038;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;

    border-radius: 15px;
    padding: 10px 20px;
    text-align: center;
    margin: 12px;

    //hover 

    &:hover {
        background: #fff;
        color: #000;
        cursor: pointer;
    }

}

#textarea {
    background: #fff;
    color: #000;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    resize: none;
}

.message {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px;
    background:#ffffff;
    border-radius: 15px;
    
}

.chat_component{
    display: grid;
    justify-content: center;
    padding: 20px;
    height: 90%;
    background-color: #000e45;
    color: #ffffff;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    margin-top: 35%;
    width: 50%; 
    margin-left: 20px;
    border-radius : 20px;
    position: revert;



}

.messageComp {
    //message area 
    
    display: grid;      align-items: center;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;
        height: 100%;
        background-color: #ffffff;
        color: #000e45;
        text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
        text-transform: uppercase;
        border-radius : 20px;
        position: revert;
        text-align: center;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
    }
   
    &::-webkit-scrollbar {
        display: none;
    }