* {
    margin: 0;
    border: none;
    padding: 0;

    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: rgb(202, 129, 248);
    color: rgb(255, 255, 255);

    font-family: Helvetica;
}


main section { padding: 1em; }

#main-headline { text-align: center; margin-bottom: 0.8em; }

label { display: block; padding-bottom: 0.5em;}

textarea { width: 90%; height: 200px; }

input[type="submit"] { 
    display: block; 
    margin-top: 1em; 
    padding: 8px 12px; 
    border-radius: 0.5em; 
}

.chat-messages {
    float: left;
    background-color: #efefef;
    padding: 15px;
    margin: 10px;
     width: 70%;
    text-align: left;
    font-size: 15px;
    font-weight: 500;
    color:  #500038;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    overflow-wrap: break-word;
    word-wrap: break-word;
    border-radius: 40px 40px 40px 0px;
    hyphens: auto;


}

.other-messages {
    float: right;
    clear: both;
    background-color: #500038;
    padding: 15px;
    margin: 10px;
    width: 70%;
    text-align: right;
    font-size: 15px;
    font-weight: 500;
    color: #efefef;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    overflow-wrap: break-word;
    word-wrap: break-word;
    border-radius: 40px 40px 0px 40px;
    hyphens: auto;
    
}

body {
    background: #62475d;
    color: #fff;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
}

