//styling the log in page

.login-container {

    display: flex;
    flex-direction: column;
    align-content: center;
    // padding: 35px;
    justify-content: center;
    align-items: center;
    background: rgb(231, 216, 247);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    // border-radius: 40px;
    // border: 05px solid #5a004c ;
    color: rgb(70, 4, 135);
    font-family: 'Comfortaa', cursive;
    font-size: 1.2em;
    width: 40vw;
    height: 60vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 30vw;
    margin-right: 30vw;

};

.mainlogin {
   
    width: 100vw;
    height: 100vh;
    position: fixed;
    
    background-color: rgb(189, 136, 242);
    background-image: linear-gradient(rgb(240, 222, 247) 2px, transparent 5px);
    background-size: 20px 50px;  
}

h1 {
    display: none;
}

.loginf {
    display:flex;
    width: 100vw;
    // height: 100vh;
   
}

.login_title {
    font-size: 2rem;
    margin-top: 20px;
    // font-weight: 700;
    margin-bottom: 20px;
    // text-transform: uppercase;
}

main {

    display: grid; 
    grid-gap: 1em;  
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-items: center;
    


}
    
    .loginform {
        display: flex;  
        flex-direction: column;
        align-content: center;

    }


.user_name, .password_input {
    height: 30px;
    // width: 250px;
    font-size: 14px;
    padding: 5px;
    margin-bottom: 15px;
    text-align: left;
    font-weight: 600;
    border: 0.1px solid rgb(70, 4, 135);
    // border-radius: 15px;
    background: rgb(255, 255, 255);
    // color: #000000;
    font-family: 'Comfortaa', cursive;
    
}

.user_name:focus, .password_input:focus {
    outline: none;
}

.joinbtn {
    font-family: 'Comfortaa', cursive;
    background: rgb(70, 4, 135);
    color: rgb(255, 255, 255);
    font-size: 1rem;    
    text-transform: uppercase;
    // border: none;
    // border-radius: 15px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    // border: 1px solid #500038;

    //effect on hover 

    &:hover {
        background: rgb(255, 255, 255);
        color: rgb(70, 4, 135);
        border: 1px solid rgb(70, 4, 135);
    }
}


